
<footer id="footer">

    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>K</span>itap Dünyası</h2>
                        <p>
                            Kitapsız yaşam; kör, sağır ve dilsiz yaşamaktır.
                        </p>
                    </div>
                </div>
                <div class="col-sm-7">
                   
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Kategoriler</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/Kitaplar/KategoriListesi/2012">Bilgisayar</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2013">Bilim</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2016">Felsefe</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2026">Çocuk Kitapları</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2020">Tarih</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Kategoriler</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/Kitaplar/KategoriListesi/2014">Edebiyat</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2015">Mizah</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2017">Psikoloji</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2019">Ders Kitapları</a></li>
                            <li><a href="/Kitaplar/KategoriListesi/2025">Sağlık</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Site Hakkında</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                            <li><a href="/Home/IadeKosullari">İade Koşulları</a></li>
                            <li><a href="/Home/GizlilikIlkesi">Gizlilik Ilkesi</a></li>
                            <li><a href="/Home/UyeSozlesmesi">Üye Sözleşmeşi</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2021 Kitap Dünyası</p>
            </div>
        </div>
    </div>

</footer>