<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
                        
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active left">
                            <div class="col-sm-6">
                                <h1><span>K</span>itap <span>D</span>ünyası</h1>

                                
                                <p>İyi kitapları okumak geçmiş yüzyılların en seçkin zekâlarıyla önceden tertiplenmiş bir konuşmaya katılmak gibidir.</p>
                                
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/kitapdunyasi.png" class="girl img-responsive" alt="" width="400"height="330">
                            </div>
                        </div>
                        <div class="item next left">
                            <div class="col-sm-6">
                                <h1><span>K</span>itap <span>D</span>ünyası</h1>
                                
                                <p>İnsanoğlunun bütün yaptıkları düşündükleri elde ettikleri ve başından geçenler kitapların sayfalarında yatmaktadır. </p>
                                
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/kitapdunyasi.png" class="girl img-responsive" alt="" width="400"height="300">
                                
                            </div>
                        </div>

                     

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>