
@{
    Layout = null;
}

<head>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/css/price-range.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />


    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>

<div>
    @Html.Partial("_UstMenu")
</div>
<div class="container bootstrap snippet">
    <div class="row">

        <div class="col-sm-9">
            <div class="panel rounded shadow panel-teal">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">İADE KOŞULLARI</h3>
                    </div>
                    <div class="pull-right">
                        <form action="#" class="form-horizontal mr-5 mt-3">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body no-padding">


                    <div class="hb-box content">
                        <div class="contentArea">
                            <span class="hb-font-h5">
                                Garanti Koşulları <br />
                                Tüm ürünler aksi belirtilmediği takdirde üretici firmaların garantisi altındadır.
                                Garanti koşullarının geçerli olabilmesi için kargo teslimatı esnasında ürünü mutlaka kontrol ediniz.
                                Herhangi bir hasar gördüğünüzde tutanak tutturarak ürünü teslim almayınız. Ürün üzerinde yapılan değişiklikler,
                                ürünün deforme olması ya da ürünün orijinal dizaynının bozulması garanti kapsamı dışındadır. <br /> <br />
                                Ürün İade Koşulları <br />
                                Sitemiz üzerinden satın aldığınız ürünün hatalı çıkması halinde teslimat tarihinde veya ertesi gün sayfamızdaki online destek
                                bölümünden veya garanti belgesinde belirtilen iletişim şekillerini kullanarak bizimle iletişim kurmanız gerekmektedir.
                                Sipariş edilen ürün hatası müşteri kullanımından oluşmuşsa veya belirtilen süre içerisinde ürün kullanılmışsa ürünün iade ve değişimi yapılmaz.
                                Ürün iadesi ve değiştirme şartları olarak, 4077 sayılı Tüketicinin Korunması Hakkında Kanun gereği uygulamalar esastır.
                            </span>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/js/price-range.js"></script>
<script src="~/Content/js/jquery.prettyPhoto.js"></script>
<script src="~/Content/js/main.js"></script>