
@{
    Layout = null;
}

<head>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/css/price-range.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />


    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>

<div>
    @Html.Partial("_UstMenu")
</div>
<div class="container bootstrap snippet">
    <div class="row">

        <div class="col-sm-9">
            <div class="panel rounded shadow panel-teal">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">ÜYE SÖZLEŞMESİ</h3>
                    </div>
                    <div class="pull-right">
                        <form action="#" class="form-horizontal mr-5 mt-3">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body no-padding">


                    <div class="hb-box content">
                        <div class="contentArea">
                            <span class="hb-font-h5">

                                Üyelik Hakkında <br />
                                Mağazamıza üye olmak için Kayıt ol sayfamıza giderek ilgili bölümleri doldurmanız yeterlidir.
                                Üye bilgilerinizi doğru ve eksiksiz doldurmanız iletişim ve ulaşım problemleri olasılığı açısından çok önemlidir.
                                Ürün ve hizmetlerin çabuk ve sıhhatli ulaşması için lütfen dikkatle ve eksiksiz doldurunuz.
                                Üye olmak oldukça basit ve hızlı bir işlemdir. Üye olmanız hiç bir yükümlülük altına girdiğinizi ifade etmez.
                                <br /> <br />
                                Üye Güvenliği <br />
                                Üyenin güvenliği için mağazamızda her türlü önlem alınmıştır. Bu alınan önlemlerin yanında sizlerde üye bilgilerinizin güvenliğinden sorumlusunuz.
                                Mağazamıza giriş için kullandığınız bilgilerinizi hiç kimse ile paylaşmayın,
                                güvenli olduğundan emin olmadığınız bilgisayarlardan sisteme giriş yapmayın.
                                <br /> <br />
                                Ürün Yorumları <br />
                                Her üye ürünlere yorum yazabilir. Bilgilerinizi ve tecrübelerinizi diğer kullanıcılarla paylaştıkça, alışveriş daha keyifli ve bilinçli olacaktır.
                                Müşteri yorumları tarafsız ve tecrübeye dayalı olacağı için daha bilinçli alışveriş ortamı doğacaktır.
                                Ürün yorumu yazarken dikkat etmeniz gerekenler: Genel ahlak kuralları çerçevesinde, diğer kullanıcılara ve ürünün üreticisine saygılı yorumlar yazmaya özen gösterin. Yorumlar incelenerek uygun görülmeyen yorumlar sistemden silinmektedir.
                            </span>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/js/price-range.js"></script>
<script src="~/Content/js/jquery.prettyPhoto.js"></script>
<script src="~/Content/js/main.js"></script>