
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">

            <div class="sidebar-brand-text mx-3">Yönetici Paneli</div>
        </a>

        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Arayüz
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#kategoriler" aria-expanded="true" aria-controls="kategoriler">
                <i class="fas fa-fw fa-cog"></i>
                <span>Kategoriler</span>
            </a>
            <div id="kategoriler" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">KATEGORİLER :</h6>
                    <a class="collapse-item" href="/Kategoriler/Ekle">Kategori Ekle</a>
                    <a class="collapse-item" href="/Kategoriler/AltKategori">Alt Kategori Ekle</a>
                    <a class="collapse-item" href="/Kategoriler/Liste">Kategorileri Listele</a>
                </div>
            </div>
       </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#yayinEvleri" aria-expanded="true" aria-controls="yayinEvleri">
                <i class="fas fa-fw fa-wrench"></i>
                <span>YayınEvi</span>
            </a>
            <div id="yayinEvleri" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">YAYIN EVLERİ :</h6>
                    <a class="collapse-item" href="/YayinEvleri/Ekle">YayınEvi ekle</a>
                    <a class="collapse-item" href="/YayinEvleri/Liste">YayınEvlerini listele</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#kitaplar" aria-expanded="true" aria-controls="kitaplar">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Kitaplar</span>
            </a>
            <div id="kitaplar" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">KİTAPLAR :</h6>
                    <a class="collapse-item" href="/Kitaplar/Ekle">Kitap ekle</a>
                    <a class="collapse-item" href="/Kitaplar/Liste">Kitapları listele</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#musteri" aria-expanded="true" aria-controls="musteri">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Müşteri</span>
            </a>
            <div id="musteri" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">MÜŞTERİLER :</h6>
                    <a class="collapse-item" href="/Musteri/Liste">Müşterileri listele</a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stok" aria-expanded="true" aria-controls="stok">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Stok</span>
            </a>
            <div id="stok" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">STOK :</h6>
                    <a class="collapse-item" href="/Stok/Takip">Stokları listele</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siteAyarlari" aria-expanded="true" aria-controls="siteAyarlari">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Site ayarları</span>
            </a>
            <div id="siteAyarlari" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SİTE AYARLARI :</h6>
                    <a class="collapse-item" href="/SiteAyarlari/Ekle">Site ayarı</a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siparis" aria-expanded="true" aria-controls="siparis">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Sipariş Ayarları</span>
            </a>
            <div id="siparis" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SIPARİŞ AYARLARI :</h6>
                    <a class="collapse-item" href="/Kargo/Liste">Kargolar</a>
                    <a class="collapse-item" href="/OdemeYontemi/Liste">Ödeme Yöntemleri</a>
                    <a class="collapse-item" href="/SiparisDurum/Liste">Sıpariş Durumları</a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siparisListe" aria-expanded="true" aria-controls="siparisListe">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Sipariş</span>
            </a>
            <div id="siparisListe" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SIPARİŞLER :</h6>
                    <a class="collapse-item" href="/Siparis/Liste">Sipariş Görüntüle</a>

                </div>
            </div>
        </li>

    </ul>



